# Compiled source #
###################
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.so
**/*.pyc

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
**/*.7z
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip
**/*.rpm

# Logs and databases #
######################
**/*.log
**/log.html
**/report.html
**/output.html
**/*.sql
**/*.sqlite
**/*.swp

# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
