{% extends "base.html" %}

{% block content %}
<h2>Welcome</h2>
<p class="info">
  RFWeb is a system for storing and searching Robot Framework test suites.
</p>
<div class="hr"><hr /></div>
<h2>Test suites</h2>
{% if suites %}
<ul class="suites">
  {% for suite in suites %}
  <li><a href="/suite/{{ suite.name }}">{{ suite.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p class="info">
  No test suites found. Why don't you <a href="/upload/">upload</a> one?
</p>
{%endif %}
<div class="hr"><hr /></div>
{% include "search_form.html" %}
{% endblock content %}

